<div id="main">
  <h1><%= @content.title %></h1>
  <h2><%= @content.subtitle %></h2>
  <%= @content.content_texts.each do |text| %>
    <p><%= text.body_text %></p>
  <% end %>
  <%= @content.content_images.each do |image| %>
      <img src="<%= image.image_uri %>" />
  <% end %>
</div>